<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Fetch Success</title>
</head>

<body>
    <div class="card">
        <h1>Data Fetched and Stored Successfully!</h1>
        <div class="button-container">
            <a class="button" href="/fetch-data">Fetch Data Again</a>
            <a class="button" href="/">Go to Dashboard</a>
            <a class="button" href="/get-data">Show Data</a>
        </div>
    </div>
</body>

</html>